textarea {
  height: 100px;
}

.selected{
  border-color: #0d89ff;
  border-style: solid;
  border-width: thick;
}

#rule-control-panel{
  /* position: fixed;
  left: 80px;
  top: 150px; */
}

.predicate-read-fol{
  /* font-size: 150%; */
  padding: 10px;
}

.row{
  padding-top: 10px;
}
