.fa-check.memory{
  color: rgb(0, 119, 249)
}

.predicate-details-title{
  padding: 30px;
}

#home-pic{
  width: 100%;
  height: auto;
}

.mode-buttons-container .btn{
  width: 100%;
}

.kg-div{
  min-height: 340px;
  height: 100%;
}

#pl-queries-textarea{
  width: 100%;
  height: 300px;
}
