.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pointer{
  cursor: pointer;
}

.flex-end-container{
  justify-content: flex-end;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App.container{
  max-width: 1400px;
}

.text-form{
  height: 300px;
}

#global-loading{
  height: 500px;
}

hr.section-divider{
  margin-top: 100px;
}

.circle-btn{
  height: 270px;
  width: 270px;
  border-radius: 135px;
}

.btn-primary{
  opacity: 0.8;
}
